<button (click)="addItem()"> ADD To Buy item</button>

<div style="display: flex; justify-content: space-between">
  <div style="width: 45%">
    <h3>All Checked items</h3>
    <ul>
      <app-item
        *ngFor="let item of allChecked"
        [item]="item"
        (removeCurrentItem)="removeItem($event)"
        (updateCurrentItem)="updateItem($event)"
        (handleChange) = "handleChange($event)"
      ></app-item>
    </ul>
  </div>

  <div style="width: 45%">
    <h3>All unchecked items</h3>
    <ul>
      <app-item
        *ngFor="let item of allUnchecked"
        [item]="item"
        (removeCurrentItem)="removeItem($event)"
        (updateCurrentItem)="updateItem($event)"
        (handleChange) = "handleChange($event)"
      ></app-item>
    </ul>
  </div>
</div>

