<li style="margin-bottom: 10px">
  <input
    type="checkbox"
    value="{{ item.id }}"
    [checked]="item.checked"
    (change)="toggle(item)"
  >
  <b>Title:</b> {{item.title}}
  <b>Amount:</b> {{item.amount}}
  <button (click)="update(item)"> update item </button>
  <button (click)="remove(item)"> remove item </button>
</li>

