<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr>

<div>
  <h4>Lesson 1. Taks.</h4>
  <ol>
    <li>Create main page component</li>
    <li>Create component for "To buy item".</li>
    <li>Create component for "To buy Items list"</li>
    <li>Describe "To buy item" and "To buy items list" data types.</li>
    <li>* Bonus taks. Service "fireBaseApiService" should be injected only to main page component. (See @Input, @Output)</li>
  </ol>
</div>

<hr>

<app-items-list
  [toBuyList]="toBuyList"
  (update)="update($event)"
  (remove)="remove($event)"
  (add)="add($event)"
>
</app-items-list>
